<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.eques.doorbell.wangli"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".HandleReceiver">
            <intent-filter >
                <!-- 注意，这里的action，后缀都需要加上key_id ！！！ -->
                <action android:name="com.eques.action.BOOT_COMPLETED.fa30ea12ac7c66c5" />
                <action android:name="com.eques.action.PUSH_MESSAGE.fa30ea12ac7c66c5" />
                <action android:name="com.eques.action.PING.fa30ea12ac7c66c5" />
                <action android:name="com.eques.action.LOGIN_INFO.fa30ea12ac7c66c5" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
